extends layout

block content
    +form("post", "/newPassword")
        .form-group
            label URL du site web
            input.form-control(type="text" name="url" placeholder="Ex: google.ca")
        .form-group
            label Nom d'utilisateur
            input.form-control(type="text" name="username" placeholder="bob123")
        .form-group
            label Mot de passe
            input.form-control(type="password" name="password" placeholder="Ex: ******")
        .input-group
            .input-group-prepend
                label Generer un mot de passe sécuritaire:
            input.form-control.ml-2(type='checkbox' name="isGenerated")
        .input-group
            .input-group-prepend
                label Ajouter aux favoris:
            input.form-control.ml-2(type='checkbox' name="isFavorite")
        .text-right
            button.btn.btn-success.btn-md Ajouter