extends layout

block content
    +flash
    +form("post", "/updatePassword/" + websiteId)
        .form-group
            label URL du site web
            input.form-control(type="text" name="url" value=data.url)
        .form-group
            label Nom d'utilisateur
            input.form-control(type="text" name="username" value=data.username)
        .form-group
            label Mot de passe
            input.form-control(type="text" name="password" value=data.password)
        .text-right
            button.btn.btn-success.btn-md Modifier