extends layout

block content
    +form("post", "/sharePassword/" + passwordId)
        .form-group
            label Entrez le email de la personne avec qui vous voulez partagez ce mot de passe
            input.form-control(type="text" name="email" placeholder="Ex: bob.test@gmail.com")
        .text-right
            button.btn.btn-success.btn-md Partagez